  <table class='table'>
    <tr><%= image_tag customer.get_profile_image, size:'100x100', class: "rounded-circle" %></tr>
    <tr>
  	  <th>name</th>
  	  <th><%= customer.name %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th><%= link_to customer.followings.count, public_followings_path %></th>
    </tr>
    <tr>
      <th>followers</th>
      <th><%= link_to customer.followers.count, public_followers_path %></th>
    </tr>
  </table>