<div class="select_button pb-3 pt-3">
  <%= render 'public/shared/select' %>
</div>
<div id="rendering-area"></div>

<script>
$(function() {
  $("#rendering-area").html("<%= j render('public/customers/meal_favorites_index', favorite_meals: @favorite_meals) %>");
  $("#meal-button").on("click", function() {
    $("#rendering-area").html("<%= j render('public/customers/meal_favorites_index', favorite_meals: @favorite_meals) %>");
  });
  $("#training-button").on("click", function() {
    $("#rendering-area").html("<%= j render('public/customers/training_favorites_index', favorite_trainings: @favorite_trainings) %>");
  });
});
</script>