<div class="select_button pb-3 pt-3">
  <div>
    <button id="meal-button" class="btn btn-outline-dark mr-2">食事</button>
  </div>
  <div>
    <button id="training-button" class="btn btn-outline-dark">トレーニング</button>
  </div>
</div>
<div id="rendering-area"></div>

<script>
//$(function() {
  // 初期表示として食事の内容を表示する
  $("#rendering-area").html("<%= j render('public/customers/training_favorites_index', favorite_trainings: @favorite_trainings) %>");
  // 食事ボタンに.btn-clickedクラスを追加する
  $("#meal-button").addClass("btn-clicked");
  // 食事ボタンのクリックイベント
  $("#meal-button").on("click", function() {
    // 一旦全てのボタンから.btn-clickedクラスを削除する
    $(".btn").removeClass("btn-clicked");
    // クリックされたボタンに.btn-clickedクラスを追加する
    $(this).addClass("btn-clicked");
    $("#rendering-area").html("<%= j render('public/customers/meal_favorites_index', favorite_meals: @favorite_meals) %>");
  });
  // トレーニングボタンのクリックイベント
  $("#training-button").on("click", function() {
    // 一旦全てのボタンから.btn-clickedクラスを削除する
    $(".btn").removeClass("btn-clicked");
    // クリックされたボタンに.btn-clickedクラスを追加する
    $(this).addClass("btn-clicked");
    $("#rendering-area").html("<%= j render('public/customers/training_favorites_index', favorite_trainings: @favorite_trainings) %>");
  });
//});
</script>