  <div>
    <button id="meal-button" class="btn btn-outline-dark mr-2"><p class="a-button">食事</p></button>
  </div>
  <div>
    <button id="training-button" class="btn btn-outline-dark"><p class="a-button">トレーニング</p></button>
  </div>