  <div>
    <div>
      <button id="meal-button" class="btn btn-outline-dark"><p class="a-button">食事</p></button>
    </div>
  </div>
  <div>
    <div>
      <button id="training-button" class="btn btn-outline-dark"><p class="a-button">トレーニング</p></button>
    </div>
  </div>