<div class="nested-fields">
  <div class="d-flex">
    <div class="mt-2 mr-2">
      <%= f.select :meal_summary, [["主食", "主食"], ["主菜", "主菜"], ["副菜", "副菜"]], { :include_blank => "主食など選択"}, :required => true, class: "form-control light-color" %>
    </div>
    <div class="eat_meal-kcal">
      <div class="mt-2 mr-2">
        <%= f.text_field :eat_meal, required: true, placeholder: "例：野菜の炒め物", class: "form-control light-color" %>
      </div>
      <div class="mt-2 mr-2">
        <%= f.number_field :kcal, required: true, placeholder: "カロリー", class: "form-control light-color" %>
      </div>
    </div>
    <div class="mt-2">
      <%= link_to_remove_association f, class: "btn btn-outline-dark ml-4 mt-1 hide-if-last" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
  </div>
</div>
