<div class="select_button">
  <%= render 'public/shared/select' %>
</div>
<div id="rendering-area"></div>

<script>
$(function() {
  $("#rendering-area").html("<%= j render('public/meals/index', meals: @meals, meal: @meal, customers: @customers) %>");
  $("#meal-button").on("click", function() {
    $("#rendering-area").html("<%= j render('public/meals/index', meals: @meals, meal: @meal, customers: @customers) %>");
  });
  $("#training-button").on("click", function() {
    $("#rendering-area").html("<%= j render('public/trainings/index', trainings: @trainings, training: @training, customers: @customers) %>");
  });
});
</script>
