<div class="select_button border-bottom pb-3 pt-3">
  <%= render 'public/shared/select' %>
</div>
<div id="rendering-area"></div>

<script>
$(function() {
  $("#rendering-area").html("<%= j render('admin/training_comments/index', training_comments: @training_comments, customers: @customers) %>");
  $("#meal-button").on("click", function() {
    $("#rendering-area").html("<%= j render('admin/meal_comments/index', meal_comments: @meal_comments, customers: @customers) %>");
  });
  $("#training-button").on("click", function() {
    $("#rendering-area").html("<%= j render('admin/training_comments/index', training_comments: @training_comments, customers: @customers) %>");
  });
});
</script>