<% if current_customer != customer%>
  <% if current_customer.following?(customer) %>
    <div>
      <%= form_tag public_customer_relationships_path(customer.id), method: :delete do %>
        <%= submit_tag "フォロー解除", class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= form_tag public_customer_relationships_path(customer.id), method: :post do %>
        <%= submit_tag "フォロー", class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  <% end %>
<% end %>
