<% if @customer == [] %>
  <div class="border-bottom">
    <h2 style="text-align:center">検索結果がありません。</h2>
  </div>
<% elsif @customer.present? %>
  <% search_word = @customer_q.name_cont %>
  <div class="border-bottom">
    <h2 style="text-align:center">検索結果 "<%= search_word %>"</h2>
  </div>
    <div style="display: flex; justify-content: space-between; padding: 0px 10px 10px 10px ;" class="mt-3 border-bottom">
      <div style="display: flex;">
      <% @customer.each do |f| %>
      <%= image_tag f.get_profile_image, size:'40x40', class: "rounded-circle border" %>
        <div class="ml-3">
          <%= link_to f.name, public_customer_path(f), class: "name-link" %><br>
          <span class="name-link"><%= f.introduction %></span>
        </div>
      <% end %>
      </div>
    </div>
<% else %>
  <div class="border-bottom">
    <h2 style="text-align:center">検索結果がありません。</h2>
  </div>
<% end %>



