<div class="weight-records">
  <div class="c-weight-records border-right">
    <h5 class="mt-1">食事</h5>
    <table class="table">
      <tr>
        <th class="col-1">日付</th>
        <th class="col-1">体重</th>
      </tr>
    <% meals.each do |meal| %>
      <tr>
        <td class="col-1"><%= meal.created_at.strftime('%Y/%m/%d') %></td>
        <td class="col-1"><%= meal.body_weight.present? ? "#{meal.body_weight}kg" : "" %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="c-weight-records mt-1">
    <h5>トレーニング</h5>
    <table class="table">
      <tr>
        <th class="col-1">日付</th>
        <th class="col-1">体重</th>
      </tr>
    <% trainings.each do |training| %>
      <tr>
        <td class="col-1"><%= training.created_at.strftime('%Y/%m/%d') %></td>
        <td class="col-1"><%= training.body_weight.present? ? "#{training.body_weight}kg" : "" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>


