@use '~bootstrap/scss/bootstrap';

.test_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.body {
  width: 50%;
  border-right: 2px solid #f7f7f7;
  border-left: 2px solid #f7f7f7;
}
.side {
  width: 25%;
}
.aside{
  width: 25%;
}


.pl10 {}
.pl20 {}
.pl30 {}
.pl40 { padding-left: 40px; }
.pl50 {}

.username{
  line-height: 40px;
}

.time{
  line-height: 40px;
}

#meal_kcal {
  width: 100px;
}

.meal-img-top {
    border-radius: 20px;
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
}

select {
  border: 1px solid #f2f4f5;
  border-radius: 3px;
  padding: 7px 7px;
  font-size: 15px;
  color: #333;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}

.name-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

.new-img{
  width: 400px;
  object-fit: cover;
}


#preview {
  border-radius: 20px;
  max-width: 40%;
  max-height: 40%;
  object-fit: contain;
}


.radius-pixel-30 {
  color: white;
  font-weight: bold;
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  border-radius: 30px;
  padding: 5px 10px;
}

.file-input-label {
}


.file-input-label:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100% 100% 100% 100%;
}

#delete-button{

}