@use '~bootstrap/scss/bootstrap';

.test_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.body {
  width: 50%;
  border-right: 2px solid #f7f7f7;
  border-left: 2px solid #f7f7f7;
}

.side {
  width: 25%;
}
.aside{
  width: 25%;
}

.leftside{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.rightside {
  width: 50%;
  position: relative;
}

.rightinner {
  margin-top: 350px;
  margin-left: 100px;
}

.track-fit {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
  font-size: 130px;
  margin-left: 100px;
}


.pl10 {}
.pl20 {}
.pl30 {}
.pl40 { padding-left: 40px;}
.pl50 { padding-left: 50px;}
.pl60 { padding-left: 60px;}
.pl100 { padding-left: 100px;}

.mt115 {margin-top: 115px;}
.mt125 {margin-top: 125px;}

.username{
  line-height: 40px;
}

.time{
  line-height: 40px;
}

#meal_kcal {
  width: 100px;
}

.meal-img-top {
    border-radius: 20px;
    max-width: 40%;
    max-height: 40%;
    object-fit: contain;
}

select {
  border: 1px solid #f2f4f5;
  border-radius: 3px;
  padding: 7px 7px;
  font-size: 15px;
  color: #333;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}

.name-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

.favorite {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

.relationships-name {
  color: black;
  text-decoration: none;
  color: #666666;
}

.new-img{
  width: 400px;
  object-fit: cover;
}


#preview {
  border-radius: 20px;
  max-width: 40%;
  max-height: 40%;
  object-fit: contain;
}


.radius-pixel-30 {
  color: white;
  font-weight: bold;
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  border-radius: 30px;
  padding: 5px 10px;
}

.radius-pixel-20 {
  line-height: 30px;
  color: white;
  font-weight: bold;
  border: 1px solid #2b2b2b;
  background-color: #2b2b2b;
  border-radius: 30px;
  padding: 3px 10px; /* パディングを小さくする */
}

.file-input-label {
}


.file-input-label:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100% 100% 100% 100%;
}

#delete-button{
}

.buttons{
    margin: 10px auto;/* 上下 50px 空け、左右中央に配置 */
    width: 300px;        /* 横幅 210px */
}

/* ➁ボタン単体 */


/* Aボタン */
#a_btn{
    color: black;           /* 文字色：白 */
    background-color: lightgray;  /* 背景色：赤 */
}

/* Aボタン active */
#a_btn.active{
    color: black;             /* 文字色：黒 */
    background-color: white;  /* 文字色：白 */
}

/* Bボタン */
#b_btn{
    color: black;             /* 文字色：黒 */
    background-color: white;  /* 文字色：白 */
}

/* Bボタン active */
#b_btn.active{
    color: black;            /* 文字色：白 */
    background-color: lightgray;  /* 背景色：青 */
}

/* ➂切り替え画面 */
.screen{
    width: 100%;         /* 横幅 100% */
    height: 500px;       /* 縦幅 500px */
    position: relative;  /* 親要素 */
}

/* ➃A画面 */
.a_screen{
    position: absolute;           /* 子要素 */
    display: block;                   /* 要素の透明度 */
    pointer-events: auto;         /* マウスイベントをオン */
    width: 100%;                  /* 横幅 100% */
    height: 100%;                 /* 縦幅 100% */
}

/* ➃A画面 active */
.a_screen.active{
    display: none;           /* 要素の透明度 */
    pointer-events: none; /* マウスイベントをキャンセル */
}

/* ➄B画面 */
.b_screen{
    display: none;           /* 要素の透明度 */
    pointer-events: none; /* マウスイベントをキャンセル */
}

/* ➄B画面 active */
.b_screen.active{
    position: absolute;           /* 子要素 */
    display: block;                   /* 要素の透明度 */
    pointer-events: auto;         /* マウスイベントをオン */
    width: 100%;                  /* 横幅 100% */
    height: 100%;                 /* 縦幅 100% */
}

.list_buttons {
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto;
  padding: 20px;
}

 .list_button {
   padding-left: 30px;
   padding-right: 30px;
 }

.btn-outline-dark {
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn-outline-danger {
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.a-button {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.search_word {
  font-weight: bold;
  color: #2b2b2b;
}


.login-set_center_inner {
  padding: 20px;              /* 余白指定 */
  height: 250px;              /* 高さ指定 */
}


.login-field {
  width: 200px;               /* 幅指定 */
  height: 90px;               /* 高さ指定 */
  margin:  0 auto;            /* 中央寄せ */
}

.modal_submit {
  width: 200px;
  margin:  0 auto;
}

.signin-set_center_inner {
  text-align:  center;        /* 中央寄せ */
}

.signin-field {
  width: 200px;               /* 幅指定 */
  height: 90px;               /* 高さ指定 */
  margin:  0 auto;            /* 中央寄せ */
}

.modal_submit {
  width: 200px;
  margin:  0 auto;
}

.set_center_outer {
  text-align:  center;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
  text-align: left;
  margin-left: 125px;
  font-size: 23px;
  padding-top: 23px;
}

h3 {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

h2 {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

h4 {
  color: black;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

p {
  margin-bottom: 0px;
}

.select_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#meal-button {
  width: 150px;
}

#training-button {
  width: 150px;
}
