<div class="select_button border-bottom pb-3 pt-3">
  <%= render 'public/shared/select' %>
</div>
<div id="rendering-area"></div>

<script>
$(function() {
  $("#rendering-area").html("<%= j render('admin/meals/index', meals: @meals) %>");
  $("#meal-button").on("click", function() {
    $(this).addClass("btn-clicked");
    $("#rendering-area").html("<%= j render('admin/meals/index', meals: @meals) %>");
  });
  $("#training-button").on("click", function() {
    $("#rendering-area").html("<%= j render('admin/trainings/index', trainings: @trainings) %>");
  });
});
</script>